header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }
  nav {
      background-color: rgb(0, 212, 214);
      color: black;
      padding: 10px 15px;
  }
  nav .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

  }
  nav h1 {
      margin: 0;
      font-size: 24px;
  }
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
  }
  nav .navbar-right {
      justify-content: flex-end;
  }
  nav ul li {
      margin-left: 20px;

  }
  nav ul li a {
      text-decoration: none;
      color: black;
      font-weight: 700;
      padding: 10px;
      margin: 0;

  }
    nav ul li a:hover {
      background-color: black;
      color: white;
  }


  footer {
    background-color:  rgb(0, 212, 214);
    color: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    flex-shrink: 0;
}

.footer-table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

.footer-table th, .footer-table td {
    padding: none;
    border: none;
}

.footer-icons {
    font-size: 20px;
}

.footer-icons i {
    margin-right: 10px;
    color: black;
}

main{
  padding-top: 100px;
  padding-bottom: 190px;
}

.wrapper{
    background-color: rgb(173, 229, 233);
    background-size: 300px;
    font-style: normal;
    font-size: 30px;
    margin: 10px;
    margin-left: 300px;
    margin-right: 300px;
    cursor: pointer;

  }
  .wrapper-block{
     display: none;
     cursor: pointer;
  }

  h3{
    font-style: italic;
    font: optional;
  
  }
