<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacy</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/169/169837.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="about.css">
</head>
<body>
    <header>
    <nav>
        <div class="navbar-container">
            <h3>Pharmacy Administration</h3>
            <ul class="navbar-right">
                <li><a href="home.html">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="Features.html">Features</a></li>
                <li><a href="#Contact Us">Contact Us</a></li>
                <li><a href="FAQ.html">FAQ</a></li>
            </ul>
        </div>
    </nav>
    </header>

    <main>
        <center>
            <h1>About us</h1>
            <p class="division">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Managing pharmacy,Hospitals,Clinic or Lab can be a highly challenging job. so to make those things easier we NIGSOFT Private Ltd are here to deliver an outstanding technological experience to our clients.Make healthcare management easier with our tailor-made lab solutions and manage your clinic or hospital in your wy.We are uniquely positioned to understand the challenges that are built-in the healthcare division.</p>
            <p class="division">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With our pharmacy management software you can run entire retail pharmacy operations smoothly by simplifying a wide range of activities like maintaining records of billing,effective inventory management, smart order management, flexible payment methods, negative stock alerts and more. <br><br> <br></p>
            <div class="wrapper">
                <div class="about-grid">
                    <div class="about">
                        <img src="https://cdn-icons-png.flaticon.com/128/4020/4020630.png" alt="Feature 1">
                        <h2>Location of our Company</h2>
                        <p>NIGSOFT Private Ltd is placed at the famous steel city of Salem.</p>
                    </div>
                    <div class="about">
                        <img src="https://cdn-icons-png.flaticon.com/128/1256/1256650.png" alt="Feature 1">
                        <h2>We are NIG'ians</h2>
                        <p>We are a group of young believers who are passionate about building the best line of products in healthcare management.</p>
                    </div>
                    <div class="about">
                        <img src="https://cdn-icons-png.flaticon.com/128/1642/1642423.png" alt="Feature 1">
                        <h2>Achievements</h2>
                        <p>We achieved creating a minimal cost premium healthcare software that can be purchased and used by all types of healthcare providers in the market.</p>
                    </div>
                    <div class="about">
                        <img src="https://cdn-icons-png.flaticon.com/128/2967/2967397.png" alt="Feature 2">
                        <h2>Our Vision</h2>
                        <p>Our vision is to create a secure advanced, and ease of use environment for all healthcare providers and their clients.</p>
                    </div>
                    <div class="about">
                        <img src="https://cdn-icons-png.flaticon.com/128/5165/5165942.png" alt="Feature 2">
                        <h2>Our Mission</h2>
                        <p>Our mission is to purposefully apply the latest technology when developing our software and actively support people to make better decisions through easy access to information.</p>
                    </div>
                </div>
            </div>
        </center>

    </main>

    <footer>
        <table class="footer-table">
         <thead>
             <th>Pharmacy<br>Administration</th>
             <th>Nig Soft</th>
             <th>Address</th>
             <th>Contact Us</th>
             <th>E-mail</th>
         </thead>
         <tbody>
             <tr>
                 <td rowspan="3" class="footer-icons">
                     <a href="https://twitter.com/?lang=en"><i class="fa-brands fa-square-twitter fa-2x"></a></i>
                     <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook fa-2x"></a></i>
                     <a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin fa-2x"></a></i>
                     <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram fa-2x"></a></i>
                     <a href="https://www.whatsapp.com/"><i class="fa-brands fa-square-whatsapp fa-2x"></a></i>
                 </td>
                 <td>Features</td>
                 <td rowspan="3">No: 133/31 A,SedhuKrishna<br>Trade Center, 3rd floor,<br>Trichy Main Road,Gugai<br>Salem town,Thathakapatty,<br>Salem.</td>
                 <td><i class="fa-solid fa-phone"></i> Support-6369276848</td>
                 <td>Support@nigsoft.com</td>
             </tr>

             <tr>
                <td>About</td>
                <td><i class="fa-solid fa-phone"></i> Sales-7339630007</td>
                <td>sales@nigsoft.com</td>
             </tr>

             <tr>
                 <td>Contact Us</td>
             </tr>
         </tbody>
        </table>
     </footer>
 </body>
 </html>
