<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ task</title>
<style>
.a{
  background-color:rgba(0, 255, 170, 0.842);
  background-size: 200px;
font-style: inherit;
margin: 5px;
margin-left: 300px;
margin-right: 300px;
background-image: ;
}

}
h3{
  font-style: italic;
font: optional;
margin-top: 100px;
}

</style>
</head>
<body >
  <h3><center>Frequently Asked Question</center></h3>
    <div class="a" button="onclick"><center>can we view our profit and loss?</center> </div>
    <div class="a"><center>is there GST displayed in an invoice?</center></div>
    <div class="a"><center>is there a money-back guarantee?</center></div>
    <div class="a"><center>is there a common discount option?</center></div>
    <div class="a"><center>can i access it from anywhere?</center></div>
    <div class="a"><center>how securely does my data get saved?</center></div>
    <div class="a"><center>what are the minimum hardware requirement?</center></div>
    <div class="a"><center>what is the maintenance charge?</center></div>
    <div class="a"><center>can i get training on how to use the systemduring the trial?</center></div>
    <div class="a"><center>how do i get support?</center></div>
</body>
</html>