<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacy</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/169/169837.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="Features.css">
</head>
<body>
    <header>
    <nav>
        <div class="navbar-container">
            <h3>Pharmacy Administration</h3>
            <ul class="navbar-right">

                <li><a href="#home">Home</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="home.html">Home</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="Features.html">Features</a></li>
                <li><a href="#Contact Us">Contact Us</a></li>
                <li><a href="FAQ.html">FAQ</a></li>
            </ul>
        </div>
    </nav>
    </header>

    <main>
        <div class="container">
            <div class="features-grid">
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/1055/1055644.png" alt="Feature 1">
                <h3>Categorize Reports</h3>
                <p>You can make tracking and reporting easier by classifying into different categories.</p>
              </div>
              <!-- Repeat for other features -->
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/1052/1052846.png" alt="Feature 2">
                <h3>Profit and loss accounting</h3>
                <p>A seperate profit and loss account page is created to keep an account of your daily profit and loss details.</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/5432/5432747.png" alt="Feature 3">
                <h3>Dashboard</h3>
                <p>This feature provide you a clear idea about your day-to-day business activities with a graphical representations.</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/898/898620.png" alt="Feature 4">
                <h3>Prescription Reports</h3>
                <p>Track multiple patients Prescription reports maintains and doctor wise prescription Records.</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/5626/5626141.png" alt="Feature 5">
                <h3>Medicine expiry date indication</h3>
                <p>If any of your medicine is about to expire you will automatically get an indication that which batch of medicine is  going to expire.</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/2640/2640788.png" alt="Feature 6">
                <h3>Staff maintenance</h3>
                <p>Add your company staff and manage their attendence, salary,allowance and more. So you can also have an eye on your human resource management.</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/3110/3110340.png" alt="Feature 7">
                <h3>Invoice customization</h3>
                <p>shop logo, declaration, footer message, font size, font family etc., can be added by yourself, so customizing bills is very easy on our software.</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/11000/11000549.png" alt="Feature 8">
                <h3>Purchase Management</h3>
                <p>Get recommended quantity to purchase basis previous sales data, sales gross, sales margin, sales Tax and Reports, Create purchase Return and Purchase return reports, Purchase Abstract Report and etc.,</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/2704/2704167.png" alt="Feature 9">
                <h3>Sms Campaign</h3>
                <p>Do more with less effort, gain time and drive better results. let automation work for you! Gain more with WayMore. REach your patients easily via sms.</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/951/951764.png" alt="Feature 10">
                <h3>Billing & Sales</h3>
                <p>Customers get an enhanced shopping experience with simple retail billing, easy ordering, and a sales system.</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/6065/6065392.png" alt="Feature 11">
                <h3>New stock buying indication</h3>
                <p>Whenever your stack is about to getover our software will indicate to you which product needed to buy and also specifies the vendor. </p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/3003/3003592.png" alt="Feature 12">
                <h3>Barcode Management</h3>
                <p>Print self defined barcode for un barcoded items. Barcode printing on laser, Deskjet & other barcode Printers. Customized Barcode.</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/5956/5956337.png" alt="Feature 13">
                <h3>Continous Updrading</h3>
                <p>Involves releasing updates, patches, or new versions of software or hardware to enhance performance, security, or add new features.</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/4223/4223429.png" alt="Feature 14">
                <h3>Drug Priority Maintenance</h3>
                <p>Involve ensuring that essential medications are always in stock and readily available, while less critical drugs might be maintained at lower priority levels.</p>
              </div>
              <div class="feature">
                <img src="https://cdn-icons-png.flaticon.com/128/11524/11524808.png" alt="Feature 15">
                <h3>23000+ product details default</h3>
                <p>Default information that appears when creating the listing. This might include fields such as product name, description, price, images, dimensions, weight, and other attributes.</p>
              </div>
            </div>
        </div>
    </main>

    <footer>
       <table class="footer-table">
        <thead>
            <th>Pharmacy<br>Administration</th>
            <th>Nig Soft</th>
            <th>Address</th>
            <th>Contact Us</th>
            <th>E-mail</th>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3" class="footer-icons">
                    <a href="https://twitter.com/?lang=en"><i class="fa-brands fa-square-twitter fa-2x"></a></i>
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook fa-2x"></a></i>
                    <a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin fa-2x"></a></i>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram fa-2x"></a></i>
                    <a href="https://www.whatsapp.com/"><i class="fa-brands fa-square-whatsapp fa-2x"></a></i>
                </td>
                <td>Features</td>
                <td rowspan="3">No: 133/31 A,SedhuKrishna<br>Trade Center, 3rd floor,<br>Trichy Main Road,Gugai<br>Salem town,Thathakapatty,<br>Salem.</td>
                <td><i class="fa-solid fa-phone"></i> Support-6369276848</td>
                <td>Support@nigsoft.com</td>
            </tr>

            <tr>
               <td>About</td>
               <td><i class="fa-solid fa-phone"></i> Sales-7339630007</td>
               <td>sales@nigsoft.com</td>
            </tr>

            <tr>
                <td>Contact Us</td>
            </tr>
        </tbody>
       </table>
    </footer>
</body>
</html>
